.travel-website {
    top: 0;
    left: 0;
    font-weight: 500;
}
.travel-website-wrapper {
    position: absolute;
    top: 300.38px;
    left: 1173.29px;
    width: 224px;
    height: 40px;
    font-size: 34px;
    color: var(--black-white-white);
}
.pick-your-payment-child,
.pick-your-payment-item {
    position: absolute;
    height: 8.04%;
    width: 16.21%;
    top: 2.88%;
    right: 78.23%;
    bottom: 89.07%;
    left: 5.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.pick-your-payment-item {
    height: 3.81%;
    width: 7.67%;
    top: 61.81%;
    right: 80.1%;
    bottom: 34.38%;
    left: 12.22%;
}
.complete-payment {
    position: absolute;
    font-size: var(--title-3xl-size);
    letter-spacing: 0.01em;
    line-height: 32px;
    font-weight: 600;
    font-family: var(--title-3xl);
    color: var(--gray-900);
    display: inline-block;
}
.my-account {
    position: absolute;
    font-weight: 600;

    color: var(--gray-900);
    line-height: 32px;
    display: inline-block;
}
.my-account {
    top: 32px;
    left: 240px;
    width: 50px;
    height: 35px;
}
.complete-payment {
    top: 91px;
    left: calc(50% - 160px);
    width: 334px;
}
.pick-your-payment-inner,
.rectangle-div {
    position: absolute;
    top: 137px;
    left: 21px;
    width: 320px;
    height: 36px;
}
.rectangle-div {
    height: 23.9%;
    width: 88.61%;
    top: 26.51%;
    right: 5.56%;
    bottom: 49.59%;
    left: 5.83%;
    border-radius: 16px;
    background-color: var(--black-white-white);
    box-shadow: var(--shadow-600);
    border: 3px solid var(--colors-black);
    box-sizing: border-box;
}
.nonprofit-name {
    margin: 0;
}
.nonprofit-name-ein-container {
    position: absolute;
    top: 249px;
    left: calc(50% - 67px);
    font-size: var(--medium-text-2xl-size);
    line-height: 28px;
    font-weight: 500;
    color: var(--gray-900);
    display: inline-block;
    width: 280px;
}
.pick-your-payment-child1 {
    position: absolute;
    top: 252px;
    left: 38px;
    background-color: var(--gray-300);
    width: 58px;
    height: 55px;
}
.nonprofit-logo-pull {
    position: absolute;
    top: 252px;
    left: calc(50% - 139px);
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    color: var(--gray-900);
    display: inline-block;
    width: 54px;
    height: 59px;
}
.go-back {
    color: var(--mg-mg-purple);
}
.not-the-right-container {
    position: absolute;
    top: 0;
    left: calc(50% - 143px);
    line-height: 26px;
    display: inline-block;
    width: 286px;
}
.group-child {
    position: absolute;
    top: 23.5px;
    left: 145.5px;
    border-top: 1px solid var(--mg-mg-purple);
    box-sizing: border-box;
    width: 53px;
    height: 1px;
}
.not-the-right-place-go-back-parent,
.your-donation-will {
    position: absolute;
    left: calc(50% - 142px);
    color: var(--gray-900);
}
.not-the-right-place-go-back-parent {
    top: 320px;
    width: 286px;
    height: 26px;
    font-size: 16px;
}
.your-donation-will {
    top: 208px;
    font-size: var(--title-3xl-size);
    letter-spacing: 0.01em;
    line-height: 32px;
    font-weight: 600;
    font-family: var(--title-3xl);
    display: inline-block;
    width: 280px;
}
.donation {
    top: 424px;
    left: 44px;
}
.div,
.donation,
.summary {
    position: absolute;
    line-height: 26px;
}
.summary {
    top: 390px;
    left: 44px;
    font-weight: 600;
}
.div {
    top: 424px;
    left: 264px;
    text-align: right;
}
.contribution {
    position: absolute;
    top: 450px;
    left: 75px;
}
.contribution,
.div1,
.total {
    line-height: 20px;
}
.div1 {
    position: absolute;
    top: 450px;
    left: 277px;
    text-align: right;
}
.total {
    top: 488px;
    left: 44px;
}
.div2,
.line-div,
.total {
    position: absolute;
}
.div2 {
    top: 488px;
    left: 267px;
    line-height: 26px;
    text-align: right;
}
.line-div {
    top: 483.5px;
    left: 42.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 274px;
    height: 1px;
}
.outlineplus-circle-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.button {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 32px;
    font-weight: 600;
}
.contained {
    position: absolute;
    top: 626px;
    left: 36px;
    border-radius: 12px;
    background-color: var(--gray-900);
    box-shadow: 0 2px 0#000;
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: row;
    padding: 8px 70px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: var(--title-3xl-size);
    color: var(--black-white-white);
    font-family: var(--title-3xl);
}
.checkbox {
    border-radius: 5.24px;
    background-color: var(--indigo-50);
    border: 1.3px solid var(--gray-900);
}
.frame {
    position: absolute;
    top: 538px;
    left: 44px;
    display: flex;
    flex-direction: row;
    padding: 2.620689630508423px 0;
    align-items: flex-start;
    justify-content: flex-start;
}
.apple-pay {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    font-weight: 300;
}
.label {
    position: absolute;
    height: 3.57%;
    top: 73.9%;
    bottom: 22.53%;
    left: calc(50% - 104.55px);
    width: 77px;
    color: var(--gray-800);
}
.outlinecheck-icon {
    position: relative;
    width: 18.34px;
    height: 18.34px;
    overflow: hidden;
    flex-shrink: 0;
}
.checkbox2,
.frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.checkbox2 {
    border-radius: 5.24px;
    background-color: var(--ffbd12);
    border: 1.3px solid var(--gray-900);
    flex-direction: column;
    padding: 1.3103448152542114px;
}
.frame1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    padding: 2.620689630508423px 0;
    box-sizing: border-box;
}
.checkbox1 {
    position: absolute;
    top: 575.79px;
    left: 44px;
    width: 20.97px;
    height: 26.21px;
}
.label1 {
    position: absolute;
    height: 3.57%;
    top: 79.09%;
    bottom: 17.34%;
    left: calc(50% - 104.55px);
    width: 52px;
    color: var(--gray-800);
}
.group-icon,
.pick-your-payment {
    position: absolute;
    overflow: hidden;
}
.group-icon {
    height: 2.47%;
    width: 5%;
    top: 54.26%;
    right: 60%;
    bottom: 43.27%;
    left: 35%;
    max-width: 100%;
    max-height: 100%;
}
.pick-your-payment {
    top: 116px;
    left: 620px;
    background-color: var(--contra-red2);
    width: 360px;
    height: 728px;
    font-size: var(--medium-text-xl-size);
    color: var(--color-black);
    font-family: var(--medium-text-xl);
}
.cover-frame {
    position: relative;
    background-color: var(--black-white-white);
    width: 100%;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: var(--medium-text-2xl-size);
    color: #99d2f5;
    font-family: var(--font-roboto);
}
input[type="checkbox"]:checked + label {
    color: black;
}

input[type="checkbox"]:checked + label:before {
    content: "\2713";
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked {
    background-color: yellow;
}

#confirmPayment {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.main {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    font-style: Barlow;
    color: #424242;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    visibility: hidden;
}

/* Creating a custom checkbox
        based on demand */
.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 5px;
}

/* Specify the background color to be
        shown when hovering over checkbox */
.main:hover input ~ .geekmark {
    background-color: #ffd465;
}

/* Specify the background color to be
        shown when checkbox is active */
.main input:active ~ .geekmark {
    background-color: #ffd465;
}

/* Specify the background color to be
        shown when checkbox is checked */
.main input:checked ~ .geekmark {
    background-color: #ffd465;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
    display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
        showing only two border to make it look
        like a tickmark */
.main .geekmark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
